@charset 'utf-8';
/* 初始化一些样式 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  /* 去除移动端 默认的 手指 点击 高亮效果  transparent 透明*/
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
}
ul,ol{
  list-style: none;
}
/* 移动端 会取出 他四周的 边框 */
input{
  border: none;
  outline: none;
  /* 有一些 移动端的浏览器 会有默认的 3d效果 比如 阴影,3d渐变 */
  -webkit-appearance: none;
}
/* 浮动 */
/* 左浮动 */
.fl{
  float: left;
}
/* 右浮动 */
.fr{
  float: right;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after{
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}